{
  "extends": "airbnb-base",
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "no-console": "off",
    "no-underscore-dangle": "off",
    "no-unused-expressions": "off",
    "comma-dangle": "off"
  }
}
